canvas {
  background-color: aquamarine;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}
.tools {
  display: flex;
  flex-direction: column;
}
.butt {
  background-color: crimson;
  padding: 1vw;
  margin: 1vw;
}
.butt:active() {
  background-color: darkcyan;
}
